In [9]:
import pandas as pd
sales_data = {
    'TransactionID' : [1,2,3,4,5],
    'customerID' : [101, 102, 103, 104, 105],
    'Amount': [250,300,400, 500, 600],
    'Date' : ['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05']
}
customer_data = {
    'customerID' : [101, 102, 103, 104],
    'customerName' : ['Alice', 'Bob', 'Charlie', 'David'],
    'Age' : [30, 35, 40, 25],
    'City' : ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
sales_df = pd.DataFrame(sales_data)
customer_df = pd.DataFrame(customer_data)
print("Sales DataFrame: ")
print(sales_df.head())

Sales DataFrame:
   TransactionID  customerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         105     600  2025-01-05

In [13]:
import pandas as pd
sales_data = {
    'TransactionID' : [1,2,3,4,5],
    'customerID' : [101, 102, 103, 104, 105],
    'Amount': [250,300,400, 500, 600],
    'Date' : ['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05']
}
customer_data = {
    'customerID' : [101, 102, 103, 104],
    'customerName' : ['Alice', 'Bob', 'Charlie', 'David'],
    'Age' : [30, 35, 40, 25],
    'City' : ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
sales_df = pd.DataFrame(sales_data)
customer_df = pd.DataFrame(customer_data)
print("Sales DataFrame: ")
print(sales_df.head())

import pandas as pd
sales_data = {
    'TransactionID' : [1,2,3,4,5],
    'customerID' : [101, 102, 103, 104, 105],
    'Amount': [250,300,400, 500, 600],
    'Date' : ['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05']
}
customer_data = {
    'customerID' : [101, 102, 103, 104],
    'customerName' : ['Alice', 'Bob', 'Charlie', 'David'],
    'Age' : [30, 35, 40, 25],
    'City' : ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
sales_df = pd.DataFrame(sales_data)
customer_df = pd.DataFrame(customer_data)
print("Sales DataFrame: ")
print(sales_df.head())
print("\nShape of sales data: ", sales_df.shape)
print("Sales dataframe",sales_df)
print("customer_df",customer_df)

Sales DataFrame:
   TransactionID  customerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         105     600  2025-01-05
Sales DataFrame:
   TransactionID  customerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         105     600  2025-01-05

Shape of sales data:  (5, 4)
Sales dataframe    TransactionID  customerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         105     600  2025-01-05
customer_df    customerID customerName  Age         City
0         101        Alice   30     New York
1         102          Bob   35  Los Angeles
2         103      Charlie   40      Chicago
3         104        David   25      Houston

In [20]:
import pandas as pd
sales_data = {
    'TransactionID' : [1,2,3,4,5],
    'customerID' : [101, 102, 103, 104, 105],
    'Amount': [250,300,400, 500, 600],
    'Date' : ['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05']
}
customer_data = {
    'customerID' : [101, 102, 103, 104],
    'customerName' : ['Alice', 'Bob', 'Charlie', 'David'],
    'Age' : [30, 35, 40, 25],
    'City' : ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
sales_df = pd.DataFrame(sales_data)
customer_df = pd.DataFrame(customer_data)
print("Sales DataFrame: ")
print(sales_df.head())

import pandas as pd
sales_data = {
    'TransactionID' : [1,2,3,4,5],
    'customerID' : [101, 102, 103, 104, 105],
    'Amount': [250,300,400, 500, 600],
    'Date' : ['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05']
}
customer_data = {
    'customerID' : [101, 102, 103, 104],
    'customerName' : ['Alice', 'Bob', 'Charlie', 'David'],
    'Age' : [30, 35, 40, 25],
    'City' : ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
sales_df = pd.DataFrame(sales_data)
customer_df = pd.DataFrame(customer_data)
print("Sales DataFrame: ")
print(sales_df.head())
print("\nShape of sales data: ", sales_df.shape)
print("Sales dataframe",sales_df)
print("customer_df",customer_df)

merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='inner')
print("\nMerged DataFrame:")
print(merged_df)

# Accesing data using loc and iloc
print("\nAccess data using 'loc' (row 1):")
print(merged_df.loc[1])

print("\nAccess data using 'iloc' (row 2): ")

Sales DataFrame:
   TransactionID  customerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         105     600  2025-01-05
Sales DataFrame:
   TransactionID  customerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         105     600  2025-01-05

Shape of sales data:  (5, 4)
Sales dataframe    TransactionID  customerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         105     600  2025-01-05
customer_df    customerID customerName  Age         City
0         101        Alice   30     New York
1         102          Bob   35  Los Angeles
2         103      Charlie   40      Chicago
3         104        David   25      Houston

NameError: name 'customers_df' is not defined

"