Constructor,Self and Comparing Objects

In [2]:
class Computer:
    pass

    
c1 = Computer()

print(id(c1))

2540051734960

In [3]:
class Computer:
    pass

c1 = Computer()
c2 = Computer()

print(id(c1))
print(id(c2))

2540051732992
2540051734960

In [7]:
class Computer: 
    
    def __init__(self):
        self.name = "vysh"
        self.age = 20

c1 = Computer()
c2 = Computer()

print(c1.name)
print(c2.name)

vysh
vysh

In [5]:
class Computer:
    def __init__(self):
        self.name = "vysh"
        self.age = 20

c1 = Computer()
c2 = Computer()

print(id(c1))
print(id(c2))

2540051741536
2540051740384

In [9]:
class Computer:
    def __init__(self):
        self.name = "vysh"
        self.age = 20

c1 = Computer()
c2 = Computer()

c1.name = "minnu"
c1.age = 12


print(c1.name)
print(c2.name)

minnu
vysh

In [10]:
class Computer:
    def __init__(self):
        self.name = "vysh"
        self.age = 20

c1 = Computer()
c2 = Computer()

c1.name = "minnu"
c1.age = 12


print(c1.name)
print(c2.name)
print(c1.age)
print(c2.age)

minnu
vysh
12
20

In [11]:
class Computer:
    def __init__(self):
        self.name = "vysh"
        self.age = 20

    def update(self):
        self.age = 30

c1 = Computer()
c2 = Computer()

c1.name = "minnu"
c1.age = 12

c1.update()


print(c1.name)
print(c2.name)
print(c1.age)
print(c2.age)

minnu
vysh
30
20

In [12]:
class Computer:
    def __init__(self):
        self.name = "vysh"
        self.age = 20

    def update(self):
        self.age = 30

c1 = Computer()
c2 = Computer()

if c1 == c2:
    print("they are same")

c1.update()


print(c1.name)
print(c2.name)
print(c1.age)
print(c2.age)

vysh
vysh
30
20

In [13]:
class Computer:
    def __init__(self):
        self.name = "vysh"
        self.age = 20

    def update(self):
        self.age = 30

c1 = Computer()
c2 = Computer()

if c1 != c2:
    print("they are same")

c1.update()


print(c1.name)
print(c2.name)
print(c1.age)
print(c2.age)

they are same
vysh
vysh
30
20

In [20]:
class Computer:
    def __init__(self):
        self.name = "vysh"
        self.age = 20

    def update(self):
        self.age = 30

    def compare(self,other):
        if self.age == other.age:
            return True
        else:
            return False
            

c1 = Computer()
c2 = Computer()

if c1.compare(c2):
    print("they are same")

c1.update()


print(c1.name)
print(c2.name)
print(c1.age)
print(c2.age)

they are same
vysh
vysh
30
20

In [22]:
class Computer:
    def __init__(self):
        self.name = "vysh"
        self.age = 20

    def update(self):
        self.age = 30

    def compare(self,other):
        if self.age == other.age:
            return True
        else:
            return False
            

c1 = Computer()
c2 = Computer()

if c1.compare(c2):
    print("they are same")


print(c1.name)
print(c2.name)
print(c1.age)
print(c2.age)

they are same
vysh
vysh
20
20

Types of variables

In [23]:
class Car:
    def __init__(self):
        self.mil = 10
        self.com = "BMW"

c1 = Car()
c2 = Car()

print(c1.com , c1.mil)
print(c2.com , c2.mil)

BMW 10
BMW 10

In [25]:
class Car:

    wheels = 5
    
    def __init__(self):
        self.mil = 10
        self.com = "BMW"

c1 = Car()
c2 = Car()

print(c1.com , c1.mil, c1.wheels)
print(c2.com , c2.mil, c2.wheels)

BMW 10 5
BMW 10 5

In [27]:
class Car:
    def __init__(self):
        self.mil = 15
        self.com = "Honda"

c1 = Car()
c2 = Car()

c1.wheels = 5
c2.wheels = 4

print(c1.com, c1.mil, c1.wheels)
print(c2.com, c2.mil, c2.wheels)

Honda 15 5
Honda 15 4

In [30]:
class Car:
    def __init__(self):
        self.mil = 15
        self.com = "Honda"

c1 = Car()
c2 = Car()

c1.wheels = 5
c2.wheels = 4

print(c1.com, c1.mil, c1.wheels)
print(c2.com, c2.mil, c2.wheels)

Honda 15 5
Honda 15 4

In [31]:
class Car:
    wheels = 8
    def __init__(self):
        self.mil = 10
        self.com = "BMW"

c1 = Car()
c2 = Car()

Car.wheels = 6

print(c1.com, c1.mil, c1.wheels)
print(c2.com, c2.mil, c2.wheels)

BMW 10 6
BMW 10 6

In [35]:
class Car:
    wheels = 8
    
    def __init__(self):
        self.mil = 10
        self.com = "BMW"

c1 = Car()
c2 = Car()

c1.mil = 9
Car.wheels = 6

print(c1.com, c1.mil, c1.wheels)
print(c2.com, c2.mil, c2.wheels)

BMW 9 6
BMW 10 6

Types of methods

In [38]:
class Student:
    school = 'Telusko'
    def __init__(self,m1,m2,m3,):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3

    def avg(self):
        return (self.m1 + self.m2 + self.m3)/3

s1 = Student(2,3,4)
s2 = Student(4,2,1)

print(s1.avg())

3.0

In [41]:
class Student:
    school = 'Telusko'
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3

    def avg(self):
        return (self.m1 + self.m2 + self.m3)/3

s1 = Student(2,3,4)
s2 = Student(4,2,1)

print(s1.avg())
print(s2.avg())

3.0
2.3333333333333335

In [45]:
class Student:
    school = 'Telusko'
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3

    def avg(self):
        return (self.m1 + self.m2 + self.m3)/3

    def get_m1(self):
        return self.m1

    def set_m1(self,value):
        self.m1 = value

s1 = Student(2,3,4)
s2 = Student(4,2,1)

print(s1.avg())
print(s2.avg())

3.0
2.3333333333333335

In [47]:
class Student:
    school = 'Telusko'
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3

    def avg(self):
        return (self.m1 + self.m2 + self.m3)/3
    @classmethod
    def info(cls):
        return cls.school

s1 = Student(2,3,4)
s2 = Student(4,2,1)

print(s1.avg())
print(Student.info())

3.0
Telusko

In [49]:
class Student:
    school = 'Telusko'
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3

    def avg(self):
        return (self.m1 + self.m2 + self.m3)/3
    @classmethod
    def getSchool(cls):
        return cls.school

    def info():
        print("This is Student class.. in abc module")

s1 = Student(2,3,4)
s2 = Student(4,2,1)

print(s1.avg())
print(Student.info())

3.0
This is Student class.. in abc module
None

In [52]:
class Student:
    school = 'Telusko'
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3

    def avg(self):
        return (self.m1 + self.m2 + self.m3)/3
    @classmethod
    def getSchool(cls):
        return cls.school
    @staticmethod
    def info():
        print("This is Student class.. in abc module")

s1 = Student(2,3,4)
s2 = Student(4,2,1)

print(s1.avg())
print(Student.info())    

Student.info()

3.0
This is Student class.. in abc module
None
This is Student class.. in abc module